<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pre-RedeSocial</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/c-bootstrap.css}"/>
    </head>
    <body> 

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a th:href="@{/home}" style="text-decoration: none" class="navbar-brand">Pré_RedeSocial</a>
            </div>
        </nav>
        <div class="container">            
            <div id="dadosUser">
                <div class="thumbnail col-sm-4 col-md-2">
                    <img th:src="${usuario.imgPerfil}"/>
                    <div class="caption">
                        <p th:text="${usuario.nome}"></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

