body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.v-header{
    background-color: white;
}
.v-header .v-span-text{
    margin-top: 15px;
    float: right; 
    padding-right: 15px;
    padding-left: 15px;
    color: dimgray;
    font-size: 16px;
}
.v-header .v-span-text:hover{
    color: darkgray;
}
.v-header img{
    height: 50px;
    width: 50px;
    padding: 4px;
    float: right;
}
.v-header .v-buttons{
    margin-top: 7.5px;
    float: right;
}
.v-header .v-buttons:hover{
    color: darkgray;
}
.v-nav-title a{
    color: dimgray;
}
.v-nav-title a:hover{
    color: darkgray;
}
